<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label>Complete Report:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <strong>Code</strong>
        <input class="input" type="text" placeholder="00" name="code" />
      </div>
      <div class="field">
        <strong>Temperature</strong>
        <input class="input" type="text" placeholder="00.0C" name="temp" />
      </div>
      <div class="field">
        <strong>Wind Speed</strong>
        <input class="input" type="text" placeholder="00.00km/h" name="wind_speed" />
      </div>

      <div class="field">
        <strong>Wind Direction</strong>
        <div class="control">
          <div class="select">
            <select name="wind_direction">
              <option value="">Select direction</option>
              <option value="N">N</option>
              <option value="NE">NE</option>
              <option value="E">E</option>
              <option value="SE">SE</option>
              <option value="S">S</option>
              <option value="SW">SW</option>
              <option value="W">W</option>
              <option value="NW">NW</option>
            </select>
          </div>
        </div>

      </div>
      <div class="field">
        <strong>Pressure</strong>
        <input class="input" type="text" placeholder="000hPa" name="pressure" />
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Report</button>
</form>
