<form action="/dashboard/addstation" method="POST">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <strong>Title</strong>
    <input class="input" type="text" placeholder="Enter station title" name="title" />
      </div>
      <div class="field">
        <strong>Latitude</strong>
    <input class="input" type="text" placeholder="00.00" name="lat" />
      </div>
      <div class="field">
        <strong>Longitude</strong>
    <input class="input" type="text" placeholder="00.00" name="long" />
      </div>
<button class="button is-link">Add Station</button>
</form>

