{{#each stations}}
<div class="box box-link-hover-shadow">
  <h2 class="title">
      <p>
        {{title}}
      </p>
      <hr>
      <a href="/station/{{_id}}" class="button">
      {{>icons/open}}
      </a>
      <a href="/dashboard/deletestation/{{_id}}" class="button">
      {{>icons/delete}}
      </a>
  </h2>
</div>

<!-- NOTE: using show-summary partial here doesn't work in current implementation -->
<!-- {{> show-summary}} -->
{{/each}}
